.price-list{
    padding-top: 60px;
    &__wrapper{
        padding: 60px 50px 0 50px;
        display: grid;
        grid-template: repeat(3 , minmax(44px, auto)) / repeat(2 , minmax(366px, auto));
        grid-auto-rows: minmax(44px, auto);
        justify-content: space-between;
        // gap: 15px;
    }
    &__item{
        display: grid;
        grid-template: repeat(2 , minmax(22px, auto)) / repeat(2 , auto);
        justify-content: space-between;
        &__title{
            position: relative;
            &::before{
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                background: $main-color;
                border-radius: 100%;
                left: -25px;
                top: 25%;
                transform: translateY(-15%);
            }
        }
        &__subtitle{
            justify-self: end;
        }
        &__descr{
            font-size: 12px;
            line-height: 18px;
            grid-column: 1 / 3;
        }
    }
}